nav{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px 30px;
    font-size: 2em;
}
nav a{
   text-decoration: none;
   color: black;
    margin-right: 10px;
    font-size: medium;
}
